---
// src/components/Header.astro
---

<header
  id="main-header"
  class="py-6 px-10 flex items-center fixed top-0 w-full justify-between z-100 backdrop-blur-md transition-all duration-300 bg-transparent text-white"
>
  <!-- Logo / Título -->
  <div>
    <a href="/">
      <img
        src="/images/logo.png"
        alt="logo eben ezer"
        class="h-13 w-auto -mt-2 hover:scale-105 transition-all duration-300"
      />
    </a>
  </div>

  <nav>
    <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#galeria">Galeria</a></li>
    </ul>
  </nav>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("main-header");
    const nosotrosSection = document.getElementById("nosotros");

    if (!header || !nosotrosSection) return;

    window.addEventListener("scroll", () => {
      const scrollY = window.scrollY;

      if (scrollY > 10) {
        header.classList.add("shadow-white");
      } else {
        header.classList.remove("shadow-white");
      }

      const sectionTop = nosotrosSection.offsetTop;
      const headerTop = scrollY + header.offsetTop;
      if (headerTop >= sectionTop) {
        header.classList.add("header-dark");
        header.classList.remove("shadow-white");
        if(headerTop>sectionTop+10){
          header.classList.add("shadow-black");
        }else{
           header.classList.remove("shadow-black");
        }
      } else {
        header.classList.remove("header-dark");
       
      }
    });
  });
</script>
</header>
